body {
     background-color:blueviolet;   
}


.moon{
    height: 20em;
    width: 20em;
    position: absolute;
    background-color: #fa0000;  
    background: linear-gradient(70deg, rgb(255, 0, 0), rgb(221, 184, 19), rgb(255, 0, 0));
    border-radius: 15em 15em 15em 15em;
    bottom: 0;
    top: 6.62em;
    margin:0px;
    left: 32.5em;
    right: 7.37em;
      box-shadow: 0em 0em 70em 7em rgb(251, 255, 0);  
    /* box-shadow: 3em 3em 3em 0em rgb(251, 255, 0); */
  

}

.tree{
   
     /* 			background: ; */
    width:50px;
    height: 160px;
    /* 			height: 200px; */
        border-right: 28px solid transparent;
        border-left: 18px solid transparent;
        border-bottom: 300px solid #331a04;
        position: absolute;
        left: 50%;
        bottom: 0;
        top: 6.62em;
        margin:150px;
        left: 33.5em;
        right: .37em;
        transform-origin: 50% 300px;
        margin-left: -8px;
        
    
}
.tree:before, .tree:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border:inherit;
    border-radius: inherit;
    z-index: 0;
}
.tree:before{
    transform: rotate(10deg);

}
.tree:after{
    transform: rotate(-5deg);

}


.branch {
    width: 300px;
    height: 80px;
    position: absolute;
    border-bottom: 30px solid #331a04;	
    left: 50%;
    bottom: 0;
    top: 1.462em;
    margin:60px;
    left: 11.5em;
    right: 3.37em;
    transform-origin: 50% 300px;
    margin-left: -430px;	
    transform: rotate(40deg);
    border-bottom-left-radius: 100% 100%;
    transform-origin: 100% 100%;
}

.branch:before, .branch:after {
    content: "";
    position: absolute;
     width: inherit;
    height: inherit; 
    border:inherit;
    border-radius: inherit;
    z-index: 0; 
}
.branch:before {
    transform: rotate(20deg);
   
}
.branch:after {
    transform: rotate(6deg);
 
   
}

.branch-2{
    width: 500px;
    height: 77px;
    position: absolute;
    border-bottom: 30px solid #331a04;	
    right: 30%;
    bottom: 0;
    top: .462em;
    margin:270px;
    left: 9.5em; 
    right: 5.37em;
    transform-origin: 50% 300px;
    margin-left: -630px;	
    transform: rotate(60deg);
    border-bottom-left-radius: 100% 100%;
    transform-origin: 100% 100%;
   

}
 .branch-2:before, .branch-2:after {
    content: "";
    position: absolute;
     width: inherit;
    height: inherit; 
    border:inherit;
    border-radius: inherit;
    z-index: -1; 
    
}
.branch-2:before {
    transform: rotate(5deg);
   
}
.branch-2:after {
    transform: rotate(-5deg);
 
   
} 

.branch-3{
    width: 600px;
    height: 100px;
    position: absolute;
    border-bottom: 20px solid #331a04;	
    right: 40%;
    bottom: 0;
    top: -9.262em;
    margin:270px;
    left: 8.5em; 
    right: 5.37em;
    transform-origin: 50% 300px;
    margin-left: -750px;	
    transform: rotate(124deg);
    border-bottom-left-radius: 300% 500%;
    transform-origin: 100% 100%;
   

}
 .branch-3:before, .branch-3:after {
    content: "";
    position: absolute;
     width: inherit;
    height: inherit; 
    border:inherit;
    border-radius: inherit;
    z-index: -1; 
    
}
.branch-3:before {
    transform: rotate(30deg);
   
}
.branch-3:after {
    transform: rotate(10deg);
 
   
} 

.branch-4{
    width: 300px;
    height: 100px;
    position: absolute;
    border-bottom: 10px solid #331a04;	
    right: 40%;
    bottom: 0;
    top: -9.262em;
    margin:270px;
    left: 30.5em; 
    right: 5.37em;
    transform-origin: 50% 300px;
    margin-left: -750px;	
    transform: rotate(124deg);
    border-bottom-left-radius: 300% 500%;
    transform-origin: 100% 100%;

}
.branch-4:before, .branch-4:after {
    content: "";
    position: absolute;
     width: inherit;
    height: inherit; 
    border:inherit;
    border-radius: inherit;
    z-index: -1; 
    
}
.branch-4:before {
    transform: rotate(30deg);
   
}
.branch-4:after {
    transform: rotate(-5deg);
 
   
} 
.branch-5{

    width: 400px;
    height: 50px;
    position: absolute;
    border-bottom: 8px solid #331a04;	
    right: 40%;
    bottom: 0;
    top: -17.262em;
    margin:370px;
    left: 30.5em; 
    right: 5.37em;
    transform-origin: 60% 300px;
    margin-left: -990px;	
    transform: rotate(124deg);
    border-bottom-left-radius: 200%  600%;
    border-bottom-right-radius: 700%  500%;
    transform-origin: 100% 100%;

}

.branch-5:before, .branch-5:after {
    content: "";
    position: absolute;
     width: inherit;
    height: inherit; 
    border:inherit;
    border-radius: inherit;
    z-index: -1; 
    
}
.branch-5:before {
    transform: rotate(-40deg);
   
}
.branch-5:after {
    transform: rotate(4deg);
 
   
} 

.tree-2{

    width: 600px;
    height: 30px;
    position: absolute;
    border-bottom: 30px solid #331a04;	
    right: 30%;
    bottom: 0;
    top: .262em;
    margin:230px;
    left: 5.5em; 
    right: 5.37em;
    transform-origin: 50% 300px;
    margin-left: -630px;	
    transform: rotate(30deg);
    border-bottom-left-radius: 900% 300%;
    transform-origin: 100% 100%;
}
.tree-2:before, .tree-2:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border:inherit;
    border-radius: inherit;
    z-index: 0;
}
.tree-2:before{
    transform: rotate(10deg);

}

.branch-6{
    width: 300px;
    height: 200px;
    position: absolute;
    border-bottom: 10px solid #331a04;	
    right: 40%;
    bottom: 0;
    top: -25.262em;
    margin:470px;
    left: 30.5em; 
    right: 5.37em;
    transform-origin: 50% 300px;
    margin-left: -750px;	
    transform: rotate(124deg);
    border-bottom-left-radius: 300% 500%;
    transform-origin: 100% 100%;

}

.branch-4:before {
    transform: rotate(40deg);
   
}
.branch-4:after {
    transform: rotate(-300deg);
 
   
} 

.branch-7{

    width: 400px;
    height: 50px;
    position: absolute;
    border-bottom: 8px solid #331a04;	
    right: 40%;
    bottom: 0;
    top: -17.262em;
    margin:370px;
    left: 30.5em; 
    right: 5.37em;
    transform-origin: 60% 300px;
    margin-left: -990px;	
    transform: rotate(12deg);
    border-bottom-left-radius: 200%  600%;
    border-bottom-right-radius: 700%  500%;
    transform-origin: 100% 100%;

}

.branch-5:before {
    transform: rotate(-40deg);
   
}
.branch-5:after {
    transform: rotate(-29deg);
 
   
}  




